body {
    margin: 0;
    padding: 0;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .card {
    background-color: #01ecfd; /* Color del cuerpo del sobre */
    width: 220px; /* Aumentar el ancho en un 10% */
    height: 132px; /* Aumentar el alto en un 10% */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transform: scale(2.2); /* Escalar un 10% */
  }
  
  .card:before {
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #add8e6; /* Color del sobre (azul claro) */
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .card:after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 20px;
    background-color: #add8e6; /* Color del sobre (azul claro) */
    border-radius: 50%;
  }
  
  .flowers-left, .flowers-right {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .flowers-left {
    left: 0;
    background-image: url('flor.png'); /* Ruta de la imagen de las flores amarillas */
  }
  
  .flowers-right {
    right: 0;
    background-image: url('flor.png'); /* Ruta de la imagen de las flores amarillas */
  }
  